<section class="layout">
  <h2>Format Expiration Date</h2>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-3">
                  <label for="cardHolderName">Card Holder Name</label>
                  <input class="form-control" id="cardHolderName" name="cardHolderName">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group mb-3">
                  <label for="cardNumber">Card Number</label>
                  <input class="form-control" id="cardNumber" name="cardNumber">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label for="expirationDate">Expiration Date</label>
                  <input class="form-control" id="expirationDate" name="expirationDate">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-3">
                  <label for="cvv">CVV</label>
                  <input class="form-control" id="cvv" name="cvv">
                </div>
              </div>
              <div class="col-12 ">
                <div class="form-group mb-3">
                  <div class="d-grid">
                    <button class="btn btn-success">
                      Validate
                    </button>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="d-grid">
                    <button class="btn btn-danger">
                      Reset Form
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
